<div class="card">

  <div class="card-body">
      <h3 class="card-title">Cadastro inicial de produtos e indicadores</h3>
      <h4 class="card-subtitle mb-2 text-muted">Preencha o formulário para cadastrar produtos</h4>
      <hr>

      <form>

          <div class="row">
              <div class="col-md-auto">
                <label>Macroprocesso:</label>
                <input type="text" class="form-control" placeholder="Ex: João da Silva">
            </div>
            <div class="col">
                <label>Processo:</label>
                <input type="text" class="form-control" placeholder="Ex: nome@gmail.com">
            </div>
            <div class="col">
              <label>Processo:</label>
              <input type="text" class="form-control" placeholder="Ex: nome@gmail.com">
          </div>
          <div class="col">
            <label>Produto para pactuação:</label>
            <input type="text" class="form-control" placeholder="Ex: Processos instruídos">
          </div>
          <div class="col">
            <label>Indicador:</label>
            <input type="text" class="form-control" placeholder="Ex: Percentual de processos instruídos">
          </div>
          <div class="col">
            <label>Fórmula:</label>
            <input type="text" class="form-control" placeholder="Ex: qt processos assinados/qt proc recebidos">
          </div>
          <div class="col">
            <label>Modalidade:</label>
            <input type="text" class="form-control" placeholder="Ex: percentual">
          </div>
          <div class="col">
            <label>Fonte:</label>
            <input type="text" class="form-control" placeholder="Ex: percentual">
          </div>
          </div>

          <div class="row mt-3">
              <div class="col-md-12">
                  <button type="submit" class="btn btn-success">
                      Realizar cadastro
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-secondary">
                      Cancelar
                  </button>

              </div>

          </div>


      </form>
      
      
  </div>


</div>



