<mat-card class="home mat-elevation-z3">

  <mat-card-title class="title">
    Bem vindo!
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sitema para exemplificar a construção de produtos e indicadores
  </mat-card-subtitle>


</mat-card>

<ul id="dicas">
  <li>A gestão de desempenho por resultados é composta de pactuação, avaliação quantitativa e avaliação qualitativa.</li>
  
  <li>O período de pactuação é sempre na última semana de cada bimestre e o período de avaliação é sempre na primeira semana de cada bimestre.</li>
  
  <li>A pactuação e avaliações deverão ser realizadas dentro do prazo estabelecido.</li>
  
  <li>Caso necessite, use o material disponibilizado no tutorial</li>
  

</ul>




  