<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de avaliação de desempenho</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Página inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tutorial">Tutoriais</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Etapas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="cadastro-produtos-indicadores"> Cadastrar produtos e indicadores</a></li> <!--no lugar de href coloca-se routerLink pra passar o endereço da pagina-->
            <li><a class="dropdown-item" routerLink="consulta-produtos-indicadores">Consultar produtos e indicadores</a></li>
            <li><a class="dropdown-item" routerLink="pactuacao">Pactuação</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="avaliacao">Avaliação</a></li>
          </ul>
       
      </ul>
      
    </div>
  </div>
</nav>

